.gameGridPane {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 50 10 10 10;
    -fx-background-image: url("img/background_sagrada.jpg");
    -fx-background-repeat : no-repeat;
}

.login-button-red {
    -fx-background-color: #a3190f,
    linear-gradient(#ad400b 0%, #ad2b0e 20%, #ad0907 70%),
    linear-gradient(#ad400b, #ada709);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.login-button-red:hover {
    -fx-background-color: #a3190f,
    linear-gradient(#b9460b 0%, #b92f0e 20%, #b90907 70%),
    linear-gradient(#ad400b, #b9b309);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.login-button-red:pressed {
    -fx-background-color: #a3190f,
    linear-gradient(#9e1b11 0%, #9e1b11 20%, #9e1b11 100%),
    linear-gradient(#9c322a, #ad3830);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.AuroraeMagnificus {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/AuroraeMagnificus.png");
    -fx-background-repeat: no-repeat;
}

.AuroraSagradis {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/AuroraSagradis.png");
    -fx-background-repeat: no-repeat;
}

.Batllo {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/Batllo.png");
    -fx-background-repeat: no-repeat;
}

.Bellesguard {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/Bellesguard.png");
    -fx-background-repeat: no-repeat;
}

.ChromaticSplendor {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/ChromaticSplendor.png");
    -fx-background-repeat: no-repeat;
}

.Comitas {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/Comitas.png");
    -fx-background-repeat: no-repeat;
}

.Firelight {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/Firelight.png");
    -fx-background-repeat: no-repeat;
}

.Firmitas {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/Firmitas.png");
    -fx-background-repeat: no-repeat;
}

.FractalDrops {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/FractalDrops.png");
    -fx-background-repeat: no-repeat;
}

.FulgorDelCielo {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/FulgorDelCielo.png");
    -fx-background-repeat: no-repeat;
}

.Gravitas {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/Gravitas.png");
    -fx-background-repeat: no-repeat;
}

.Industria {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/Industria.png");
    -fx-background-repeat: no-repeat;
}

.KaleidoscopicDream {
    -fx-background-size: cover;
    -fx-background-image: url("img/patterncards/KaleidoscopicDream.png");
    -fx-background-repeat: no-repeat;
}

.LuxAstram {
    -fx-background-size: cover;
    -fx-background-image: url("/img/patterncards/LuxAstram.png");
    -fx-background-repeat: no-repeat;
}

.LuxMundi {
    -fx-background-size: cover;
    -fx-background-image: url("/img/patterncards/LuxMundi.png");
    -fx-background-repeat: no-repeat;
}

.LuzCelestial {
    -fx-background-size: cover;
    -fx-background-image: url("/img/patterncards/LuzCelestial.png");
    -fx-background-repeat: no-repeat;
}

.RipplesOfLight {
    -fx-background-size: auto;
    -fx-background-image: url("/img/patterncards/RipplesOfLight.png");
    -fx-background-repeat: no-repeat;
}

.ShadowThief {
    -fx-background-size: cover;
    -fx-background-image: url("/img/patterncards/ShadowThief.png");
    -fx-background-repeat: no-repeat;
}

.SunCatcher {
    -fx-background-size: cover;
    -fx-background-image: url("/img/patterncards/SunCatcher.png");
    -fx-background-repeat: no-repeat;
}

.SunsGlory {
    -fx-background-size: cover;
    -fx-background-image: url("/img/patterncards/SunsGlory.png");
    -fx-background-repeat: no-repeat;
}

.SymphonyOfLight {
    -fx-background-size: cover;
    -fx-background-image: url("/img/patterncards/SymphonyOfLight.png");
    -fx-background-repeat: no-repeat;
}

.ViaLux {
    -fx-background-size: cover;
    -fx-background-image: url("/img/patterncards/ViaLux.png");
    -fx-background-repeat: no-repeat;
}

.Virtus {
    -fx-background-size: cover;
    -fx-background-image: url("/img/patterncards/Virtus.png");
    -fx-background-repeat: no-repeat;
}

.WaterOfLife {
    -fx-background-size: cover;
    -fx-background-image: url("/img/patterncards/WaterOfLife.png");
    -fx-background-repeat: no-repeat;
}

.diceImageSize {
    -fx-background-size: 70 70;
}

.dicePaneImageSize {
    -fx-background-size: 100 100;
    -fx-background-repeat: no-repeat;
    -fx-opacity: 1;
}

.Red1 {
    -fx-background-image: url("/img/dice/Red1.png");
}

.Red2 {
    -fx-background-image: url("/img/dice/Red2.png");

}

.Red3 {
    -fx-background-image: url("/img/dice/Red3.png");

}

.Red4 {
    -fx-background-image: url("/img/dice/Red4.png");

}

.Red5 {
    -fx-background-image: url("/img/dice/Red5.png");

}

.Red6 {
    -fx-background-image: url("/img/dice/Red6.png");
}

.Yellow1 {
    -fx-background-image: url("/img/dice/Yellow1.png");
}

.Yellow2 {
    -fx-background-image: url("/img/dice/Yellow2.png");
}

.Yellow3 {
    -fx-background-image: url("/img/dice/Yellow3.png");
}

.Yellow4 {
    -fx-background-image: url("/img/dice/Yellow4.png");
}

.Yellow5 {
    -fx-background-image: url("/img/dice/Yellow5.png");
}

.Yellow6 {
    -fx-background-image: url("/img/dice/Yellow6.png");
}

.Purple1 {
    -fx-background-image: url("/img/dice/Purple1.png");
}

.Purple2 {
    -fx-background-image: url("/img/dice/Purple2.png");
}

.Purple3 {
    -fx-background-image: url("/img/dice/Purple3.png");
}

.Purple4 {
    -fx-background-image: url("/img/dice/Purple4.png");
}

.Purple5 {
    -fx-background-image: url("/img/dice/Purple5.png");
}

.Purple6 {
    -fx-background-image: url("/img/dice/Purple6.png");
}

.Blue1 {
    -fx-background-image: url("/img/dice/Blue1.png");
}

.Blue2 {
    -fx-background-image: url("/img/dice/Blue2.png");
}

.Blue3 {
    -fx-background-image: url("/img/dice/Blue3.png");
}

.Blue4 {
    -fx-background-image: url("/img/dice/Blue4.png");
}

.Blue5 {
    -fx-background-image: url("/img/dice/Blue5.png");
}

.Blue6 {
    -fx-background-image: url("/img/dice/Blue6.png");
}

.Green1 {
    -fx-background-image: url("/img/dice/Green1.png");
}

.Green2 {
    -fx-background-image: url("/img/dice/Green2.png");
}

.Green3 {
    -fx-background-image: url("/img/dice/Green3.png");
}

.Green4 {
    -fx-background-image: url("/img/dice/Green4.png");
}

.Green5 {
    -fx-background-image: url("/img/dice/Green5.png");
}

.Green6 {
    -fx-background-image: url("/img/dice/Green6.png");
}

/* Hidden */
.grey {
    -fx-background-color: #b8b8b8;
}


/* Round Track buttons */

.roundtrack-button {
    -fx-border-style: none;
    -fx-background-color: #a32017,
        linear-gradient(#da3f19, #c7771c);
}

.roundtrack-button:pressed {
    -fx-border-style: none;
    -fx-background-color: #a32017,
        linear-gradient(#0000 0%, #0000 20%, #0000 100%),
        linear-gradient(#923c27, #bd6124);
}

